@font-face {
  font-family: 'NotoSansKR';
  font-display: fallback;

  src: url('./NotoSansKR-Regular.otf') format('otf'),
    url('./NotoSansKR-Regular.ttf') format('otf'),
    url('./NotoSansKR-Regular.woff') format('woff');

  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
}
